:root {
    --primary-gradient:linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(91,84,169,1) 15%, rgba(255,255,0,1) 100%);
    --secondary-gradient:linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(91,84,169,1) 10%, rgba(255,255,0,1) 90%);


    --primary-blue: #0072bb;
    --footer-primary: #004225;
    --search-color: #5ffec7;
}

#map {
    border: black solid 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
}

body {
    font-weight: bold;
}

#background-image-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Behind other elements */
    margin-top: 0;
    padding: 0;

}

#above-the-map {
    position: relative;
    z-index: 1; /* Above the background image */
    margin-top: 0;
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;

}

.container-fluid.custom-bg {
    position: relative;
    object-fit: contain;
    background: var(--primary-gradient);
    margin-bottom: 5px;
    width: 100%;
    height: 70px;


}
#forecast-weather {

    z-index: 7;

}

.h2{
    font-weight: bold;
}

.card:hover {
    transform: scale(1.15);
    transition: 1.5s;
    z-index: 9;
}
.card-header {
    background-color: var(--primary-blue);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.card-body p {
    margin-bottom: unset;


}

input#search-input {
    border: 3px solid black;
    border-radius: 15px;

}

input#search-input::placeholder {
    color: var(--primary-blue);
}

button#search-btn {
    border: 3px solid black;
    border-radius: 15px;
    color: var(--search-color);
}

.footer {
    width: 100%;
    height: 70px;
    background: var(--secondary-gradient);
}